!!!
html(ng-app='IntoSpectrum')
head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Vendor CSS
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- App CSS
    link(type='text/css', rel='stylesheet', href='/css/main.css', media='screen')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='') IntoSpectrum
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only
            | Toggle navigation
          i.icon-bar
          i.icon-bar
          i.icon-bar

      //- Player
      div.navbar-collapse.collapse(ng-controller='PlayerCtrl')
        div.nav.nav-progress.col-md-6
          div.navbar-text.progress
            div#play-progress.progress-bar(ng-style='{ width: 100*time/maxTime + "%" }')
        div.nav.nav-controls.col-md-4
          div.col-md-7
            form.navbar-form.form-inline
              div.btn-group
                button.btn.btn-default(ng-click='previous()', type='button')
                  i.icon-step-backward
                button.btn.btn-default(ng-click='togglePause()', type='button')
                  i.icon-play(ng-hide='playing')
                  i.icon-pause(ng-show='playing')
                button.btn.btn-default(ng-click='stop()', type='button')
                  i.icon-stop
                button.btn.btn-default(ng-click='next()', type='button')
                  i.icon-step-forward
                button.btn.btn-default(ng-click='toggleRandom()', ng-class='{ active: random }', type='button')
                  i.icon-random
          div.col-md-3
            div.slider
    div.navbar-fixed-push

    //- Sidebar
    div(ng-controller='SidebarCtrl', style='position:relative;z-index:1')
      div.col-md-3.tabbable(data-spy='affix', style='z-index:auto')
        div(ng-show='visible')
          ul.nav.nav-tabs
            li.active
              a(href='#tab-playlist', data-toggle='tab')
                i.icon-list
            li
              a(href='#tab-youtube', data-toggle='tab')
                i.icon-youtube
          div.tab-content
            //- Playlist
            div#tab-playlist.tab-pane.active(ng-controller='PlaylistCtrl')
              h4(ng-show='!playlist.length')
                p.text-center
                  | Playlist is empty
              ul#playlist.list-group
                li.list-group-item(ng-repeat='song in playlist')
                  | {{song.title}}
            //- Youtube
            div#tab-youtube.tab-pane(ng-controller='YoutubeCtrl')
              form.navbar-form(ng-submit='search()')
                div.input-group
                  input.search-youtube.form-control(type='text', placeholder='Search on Youtube')
                  div.input-group-btn
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-search
              div#youtube-search-results
                div#youtube-loading
                  div.col-md-2
                  div.col-md-2
                    img(src='/img/loader.gif')
                  div.col-md-2
                    h4 Searching...
      div.col-md-1(style='position:fixed;bottom:10px;z-index:auto')
        button.btn.btn-default(type='button', ng-click='visible = !visible')
          i.icon-chevron-right(ng-hide='visible')
          i.icon-chevron-left(ng-show='visible')
          | &nbsp;
          | sidebar

    //- Library
    div(ng-controller='LibraryCtrl', ng-init='load()')
      div.col-md-12
        table#library.table.table-hover.table-condensed(ng-hide='loading')
          thead
            tr
              th
                a(href='#', ng-click='predicate = "title"; reverse = !reverse') Title
              th
                a(href='#', ng-click='predicate = "artist"; reverse = !reverse') Artist
              th
                a(href='#', ng-click='predicate = "album"; reverse = !reverse') Album
          tbody(infinite-scroll='paginate()')
            tr(ng-click='play(song)', ng-class='{ warning: song.id == currentSongId }',
               ng-repeat='song in songs | orderBy:predicate:reverse')
              td {{ song.title }}
              td {{ song.artist }}
              td {{ song.album }}

    //- Vendor JS
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')

    //- App JS
    script(type='text/javascript', src='/js/main.js')
    script(type='text/javascript')
      $(window).load(function() { $('.slider').slider(); });
