!!!
html(ng-app='IntoSpectrum')
head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Vendor CSS
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- App CSS
    link(type='text/css', rel='stylesheet', href='/css/main.css', media='screen')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='#') IntoSpectrum
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar

      //- Player
      div.navbar-collapse.collapse(ng-controller='PlayerCtrl')
        div.nav.navbar-text.progress.col-md-7
          #play-progress.progress-bar(role='progressbar')
        form.navbar-form.form-inline.col-md-1
          div.btn-group
            button.btn.btn-default(ng-click='previous()', type='button')
              span.icon-step-backward
            button.btn.btn-default(ng-click='togglePause()', type='button')
              span.glyphicon.glyphicon-play(ng-hide='playing')
              span.glyphicon.glyphicon-pause(ng-show='playing')
            button.btn.btn-default(ng-click='stop()', type='button')
              span.glyphicon.glyphicon-stop
            button.btn.btn-default(ng-click='next()', type='button')
              span.icon-step-forward
            button.btn.btn-default(ng-click='toggleRandom()', ng-class='{ active: random }', type='button')
              span.glyphicon.glyphicon-random
        div.col-md-1
          #volume-progress.slider
    div.navbar-fixed-push

    //- Sidebar
    div(ng-controller='SidebarCtrl')
      div.col-md-3
        div.col-md-3.tabbable(data-spy='affix', role='complementary')
          ul.nav.nav-tabs
            li.active
              a(href='#tab-playlist', data-toggle='tab')
                i.icon-list
            li
              a(href='#tab-youtube', data-toggle='tab')
                i.icon-youtube
          div.tab-content
            #tab-playlist.tab-pane.active
              ul#playlist.list-group
            #tab-youtube.tab-pane
              form.navbar-form(role='search', onsubmit='return false;')
                div.input-group
                  input.search-youtube.form-control(type='text', role='search', placeholder='Search on Youtube')
                  div.input-group-btn
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-search
              #youtube-search-results
                #youtube-loading
                  div.col-md-2
                  div.col-md-2
                    img(src='/img/loader.gif')
                  div.col-md-2
                    h4 Searching...

    //- Library
    div(ng-controller='LibraryCtrl', ng-init='init()')
      #library-loading.col-md-6.alert.alert-dismissable(ng-show='loader.running')
        a.close(href='#', data-dismiss='alert', aria-hidden='true') &times;
        h4 Library loading...
        div.progress
          div.progress-bar(ng-style='{ width: loader.percentage + "%" }', role='progressbar')
      div.col-md-9
        table.table.table-hover.table-condensed
          thead
            tr
              th
                a(href='#', ng-click='predicate = "title"; reverse = !reverse') Title
              th
                a(href='#', ng-click='predicate = "artist"; reverse = !reverse') Artist
              th
                a(href='#', ng-click='predicate = "album"; reverse = !reverse') Album
          tbody#library
            tr(ng-click='play(song)', ng-class='{ warning: song.id == currentSongId }', ng-repeat='song in songs | orderBy:predicate:reverse')
              td {{ song.title }}
              td {{ song.artist }}
              td {{ song.album }}

    //- Vendor JS
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')

    //- App JS
    script(type='text/javascript', src='/js/microevent.js')
    script(type='text/javascript', src='/js/main.js')
