!!!
html(ng-app='IntoSpectrum')
head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Vendor CSS
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- App CSS
    link(type='text/css', rel='stylesheet', href='/css/main.css', media='screen')
  body(ng-controller='MainCtrl')
    nav.navbar.navbar-default.navbar-fixed-top
      div.navbar-header
        a.navbar-brand(href='/') IntoSpectrum
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only
            | Toggle navigation
          i.icon-bar
          i.icon-bar
          i.icon-bar
      div.navbar-collapse.collapse

        //- Player
        div(ng-controller='PlayerCtrl')
          div.nav.nav-progress.col-md-6
            div.navbar-text.progress
              div#play-progress.progress-bar(ng-style='{ width: 100*time/maxTime + "%" }')
          div.nav.nav-controls.col-md-4
            div.col-md-7
              form.navbar-form.form-inline
                div.btn-group
                  button.btn.btn-default(ng-click='previous()', type='button')
                    i.icon-step-backward
                  button.btn.btn-default(ng-click='togglePause()', type='button')
                    i.icon-play(ng-hide='playing')
                    i.icon-pause(ng-show='playing')
                  button.btn.btn-default(ng-click='next()', type='button')
                    i.icon-step-forward
                  button.btn.btn-default(ng-click='toggleRandom()', ng-class='{ active: random }', type='button')
                    i.icon-random
            div.col-md-3
              div.slider(ng-model='volume', slider, slider-orientation='horizontal',
                    slider-slide='setVolume(volume)', slider-min='0', slider-max='100')
          div.nav.col-md-2
            form.navbar-form.form-inline
              div.input-group
                input.form-control(type='text', placeholder='Search')
                div.input-group-btn
                  button.btn.btn-default(type='button')
                    span.icon-search

    div.navbar-fixed-push

    //- Sidebar
    div.sidebar(ng-controller='SidebarCtrl')
      div.sidebar-tabs.sidebar-item.col-md-3.tabbable(data-spy='affix', ng-show='visible')
        ul.nav.nav-tabs
          li.active
            a(href='#tab-playlist', data-toggle='tab')
              i.icon-list
          li
            a(href='#tab-youtube', data-toggle='tab')
              i.icon-youtube
        div.tab-content
          //- Playlist
          div#tab-playlist.tab-pane.active(ng-controller='PlaylistCtrl')
            h4(ng-show='!playlist.length')
              p.text-center
                | Playlist is empty
            ul.playlist.list-group
              li.playlist-item.list-group-item.row(ng-repeat='song in playlist')
                div.col-md-9
                  | {{song.title}}
                div.col-md-1
                  a(href='#/playlist/{{song.id}}/play', ng-click='play($index)')
                    i.icon-play
                div.col-md-1
                  a(href='#/playlist/{{song.id}}/remove',ng-click='remove($index)')
                    i.icon-remove
          //- Youtube
          div#tab-youtube.tab-pane(ng-controller='YoutubeCtrl')
            form(ng-submit='search()')
              div.input-group
                input.youtube-search.form-control(type='text', placeholder='Search on Youtube')
                div.input-group-btn
                  button.btn.btn-default(type='button')
                    i.icon-search
            div.youtube-results
              div.youtube-loading
                div.col-md-2
                div.col-md-2
                  img(src='/img/loader.gif')
                div.col-md-2
                  h4 Searching...
      div.sidebar-toggle.sidebar-item.col-md-1
        button.btn.btn-default(type='button', ng-click='visible = !visible')
          i.icon-chevron-right(ng-hide='visible')
          i.icon-chevron-left(ng-show='visible')
          | &nbsp;
          | sidebar

    //- Songs
    div.col-md-12
      table.song-library.table.table-condensed
        thead
          tr
            th
              a(href='#/sort-by/title', ng-click='predicate = "title"; reverse = !reverse') Title
            th
              a(href='#/sort-by/artist', ng-click='predicate = "artist"; reverse = !reverse') Artist
            th
              a(href='#/sort-by/album', ng-click='predicate = "album"; reverse = !reverse') Album
        tbody(infinite-scroll='paginate()')
          tr.song-item(ng-click='play(song)',
              ng-class='{ active: song.id == currentSongId }',
              ng-repeat='song in songs | orderBy:predicate:reverse')
            td {{ song.title }}
            td {{ song.artist }}
            td {{ song.album }}

    //- Vendor JS
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/components/angular/angular.min.js')

    //- App JS
    script(type='text/javascript', src='/js/main.js')
