# Node modules
node_modules/*

# Bower components
public/components/*

# Concatenated css/js
public/css/main.css
public/js/main.js

# Media directory
media/*

# Virtualenv directory
venv/*

# Build directory
build/*

# NPM debug log
**/.npm-debug.log
