/* Fix for the fixed navbar's float */
.navbar-fixed-push { height: 70px; }

/* Fix for the ugly form-inline's border in responsive mode */
.navbar-form.form-inline { border: none; }

/* Progress bar */
.nav-progress .progress {
    padding: 0;
    width: 100%;
}

.nav-controls .slider {
    margin: 20px 0;
    padding: 0;
}
