<!DOCTYPE html>
<html>
    <head>
        <title>Library | IntoSpectrum</title>
        <meta charset="utf-8">
        <meta name="author" content="Jean-Marie Comets, Pierre Turpin">
        <meta name="description" content="IntoSpectrum, a web-exposed server audio player">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Socket.IO-->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <!--Bower-->
        <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css" media="screen">

        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="/css/base.css" media="screen">

        <!--JavaScript-->
        <script type="text/javascript" src="/js/microevent.min.js"></script>
        <script type="text/javascript" src="/js/clientplayer.js"></script>
        <script type="text/javascript" src="/js/base.js"></script>
    </head>
    <body>
        <!--Toolbar-->
        <nav class="navbar navbar-default navbar-fixed-top">
            <!--Player-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IntoSpectrum</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-text progress col-md-8" >
                    <div id="play-progress" class="progress-bar" role="progressbar"></div>
                </div>
                <form class="navbar-form form-inline" action="#">
                    <div class="btn-group">
                        <button id="previous-control" type="button" class="btn btn-default">
                            <span class="icon-step-backward"></span>
                        </button>
                        <button id="pause-control" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-play"></span>
                            <span class="glyphicon glyphicon-pause" style="display:none;"></span>
                        </button>
                        <button id="stop-control" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>
                        <button id="next-control" type="button" class="btn btn-default">
                            <span class="icon-step-forward"></span>
                        </button>
                    </div>
                </form>
                <div id="volume-progress" class="slider"></div>
            </div>
        </nav>

        <!--Content-->
        <div id="wrap" class="container">
            <!--Loading-->
            <div id="library-loading" class="col-md-12 alert alert-dismissable" style="position:fixed;bottom:10px;">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
                <em id="library-loading-current"></em>
            </div>

            <div class="row">
                <!-- Left Panel -->
                <div class="col-md-3 tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-playlist" data-toggle="tab">
                                <i class="icon-list"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-youtube" data-toggle="tab">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-playlist" class="tab-pane active">
                            <ul class="unstyled">
                                <li>
                                    <div class="col-md-10">Never gonna give you up</div>
                                    <a href="#" class="col-md-1"><span class="glyphicon glyphicon-play"></span></a>
                                    <a href="#" class="col-md-1"><span class="glyphicon glyphicon-remove"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-youtube" class="tab-pane">
                            <form class="form-search" action="#">
                                <input class="search-query" type="text" placeholder="Search on Youtube">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <!--Songs-->
                    <table class="table table-hover table-condensed">
                        <tbody id="library"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Right-click menu for songs-->
        <div id="song-context-menu" class="dropdown">
            <ul class="dropdown-menu" role="menu">
                <li><a id="song-action-play" class="disabled" href="#"><i class="icon-play"> </i> Play</a></li>
                <li><a id="song-action-next" class="disabled" href="#"><i class="icon-arrow-right"> </i> Play next</a></li>
                <li><a id="song-action-queue" class="disabled" href="#"><i class="icon-plus"> </i> Add to play queue</a></li>
            </ul>
        </div>

        <!--Modal for disconnected state-->
        <div ></div>

        <div id="disconnected-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Disconnected !</h4>
                    </div>
                    <div class="modal-body">
                        <p>You've been disconnected...</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
