<!DOCTYPE html>
<html>
    <head>
        <title>Library | IntoSpectrum</title>
        <meta charset="utf-8">
        <meta name="author" content="Jean-Marie Comets, Pierre Turpin">
        <meta name="description" content="IntoSpectrum, a web-exposed server audio player">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Socket.IO-->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <!--Bower-->
        <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui-bootstrap/jquery.ui.theme.css"></script>
        <script type="text/javascript" src="/bower_components/jquery-ui-bootstrap/jquery.ui.theme.font-awesome.css"></script>
        <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" media="screen">

        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="/css/base.css" media="screen">

        <!--JavaScript-->
        <script type="text/javascript" src="/js/microevent.min.js"></script>
        <script type="text/javascript" src="/js/clientplayer.js"></script>
        <script type="text/javascript" src="/js/base.js"></script>
    </head>
    <body>
        <!--Toolbar-->
        <div class="navbar navbar-fixed-top">
            <!--Player-->
            <div class="navbar-inner">
                <a class="brand" href="#">
                    IntoSpectrum
                </a>
                <div class="btn-group">
                    <button id="previous-control" class="btn">
                        <i class="icon-step-backward"></i>
                    </button>
                    <button id="pause-control" class="btn">
                        <i class="icon-play"></i>
                        <i class="icon-pause" style="display:none;"></i>
                    </button>
                    <button id="stop-control" class="btn">
                        <i class="icon-stop"></i>
                    </button>
                    <button id="next-control" class="btn">
                        <i class="icon-step-forward"></i>
                    </button>
                </div>
                <div class="nav navbar-text progress span8" >
                    <div id="play-progress" class="bar" rel="tooltip" data-placement="bottom" title="No song currently playing" style="width:0%"></div>
                </div>
                <div id="volume-progress" class="span2 pull-right" style="margin:15px"></div>
            </div>
        </div>

        <!--Content-->
        <div id="wrap" class="container-fluid">
            <!--Loading-->
            <div id="library-loading" class="span12 well well-small" style="position:fixed;bottom:10px;">
                <!--<h2>Library loading...</h2>-->
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
                <em id="library-loading-current"></em>
            </div>

            <div class="row-fluid">
                <!-- Left Panel -->
                <div class="span3 tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-playlist" data-toggle="tab">
                                <i class="icon-list"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#tab-youtube" data-toggle="tab">
                                <i class="icon-youtube"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-playlist" class="tab-pane active">
                            <ul class="unstyled">
                                <li>
                                    <div class="span10">Never gonna give you up</div>
                                    <a href="#" class="span1"><i class="icon-play"></i></a>
                                    <a href="#" class="span1"><i class="icon-remove"></i></a>
                                </li>
                                <li>
                                    <div class="span10">Never gonna let you down</div>
                                    <a href="#" class="span1"><i class="icon-play"></i></a>
                                    <a href="#" class="span1"><i class="icon-remove"></i></a>
                                </li>
                                <li>
                                    <div class="span10">Never gonna run around and hurt you</div>
                                    <a href="#" class="span1"><i class="icon-play"></i></a>
                                    <a href="#" class="span1"><i class="icon-remove"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-youtube" class="tab-pane">
                            <form class="form-search" action="#">
                                <input class="search-query" type="text" placeholder="Search on Youtube">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="span9">
                    <!--Songs-->
                    <table class="table table-hover table-condensed">
                        <tbody id="library"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--Right-click menu for songs-->
        <div id="song-context-menu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu">
                <li><a id="song-action-play" class="disabled" href="#"><i class="icon-play"> </i> Play</a></li>
                <li><a id="song-action-next" class="disabled" href="#"><i class="icon-arrow-right"> </i> Play next</a></li>
                <li><a id="song-action-queue" class="disabled" href="#"><i class="icon-plus"> </i> Add to play queue</a></li>
            </ul>
        </div>
        </body>
        </html>
