!!! 5
html
  head
    title Library | IntoSpectrum
    meta(charset='utf-8')
    meta(name='author', content='Jean-Marie Comets, Pierre Turpin')
    meta(name='description', content='IntoSpectrum, a web-exposed server audio player')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Socket.IO
    script(type='text/javascript', src='/socket.io/socket.io.js')

    //- Bower components
    script(type='text/javascript', src='/components/jquery/jquery.min.js')
    script(type='text/javascript', src='/components/jquery-ui/ui/minified/jquery-ui.min.js')
    script(type='text/javascript', src='/components/bootstrap/dist/js/bootstrap.min.js')
    link(type='text/css', rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen')
    link(type='text/css', rel='stylesheet', href='/components/jquery-ui/themes/base/minified/jquery-ui.min.css', media='screen')

    //- CSS
    link(type='text/css', rel='stylesheet', href='/css/base.css', media='screen')

    //- JavaScript
    script(type='text/javascript', src='/js/microevent.js')
    script(type='text/javascript', src='/js/clientplayer.js')
    script(type='text/javascript', src='/js/interface.js')
  body
    //- Toolbar
    nav.navbar.navbar-default.navbar-fixed-top
      //- Player
      div.navbar-header
        a.navbar-brand(href='#') IntoSpectrum
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div.navbar-collapse.collapse
        div.nav.navbar-text.progress.col-md-7
          div#play-progress.progress-bar(role='progressbar')
        form.navbar-form.form-inline.col-md-1(action='#')
          div.btn-group
            button#previous-control.btn.btn-default(type='button')
              span.icon-step-backward
            button#pause-control.btn.btn-default(type='button')
              span.glyphicon.glyphicon-play
              span.glyphicon.glyphicon-pause(style='display: none;')
            button#stop-control.btn.btn-default(type='button')
              span.glyphicon.glyphicon-stop
            button#next-control.btn.btn-default(type='button')
              span.icon-step-forward
            button#random-control.btn.btn-default(type='button')
              span.glyphicon.glyphicon-random
        div.col-md-1
          div#volume-progress.slider
    //- Content
    div#wrap
      //- Loading
      div#library-loading.col-md-6.alert.alert-dismissable
        a.close(href='#', data-dismiss='alert', aria-hidden='true') &times;
        h4
          | Library loading...
        div.progress
          div.progress-bar(role='progressbar')
        em#library-loading-current
      //- Left Panel
      div.col-md-3
        div.col-md-3.tabbable(data-spy='affix', role='complementary')
          ul.nav.nav-tabs
            li.active
              a(href='#tab-playlist', data-toggle='tab')
                i.icon-list
            li
              a(href='#tab-youtube', data-toggle='tab')
                i.icon-youtube
          div.tab-content
            div#tab-playlist.tab-pane.active
              ul.list-group
                li.list-group-item.row
                  div.col-md-8
                    | Never gonna give you up
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-play
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-remove
                li.list-group-item.row
                  div.col-md-8
                    | Never gonna let you down
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-play
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-remove
                li.list-group-item.row
                  div.col-md-8
                    | Never gonna run around and desert you
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-play
                  div.col-md-2
                    a(href='#')
                      span.glyphicon.glyphicon-remove
            div#tab-youtube.tab-pane
              form.navbar-form(role='search', action='#')
                div.input-group
                  input.search-youtube.form-control(type='text', role='search', placeholder='Search on Youtube')
                  div.input-group-btn
                    button.btn.btn-default(type='button')
                      span.glyphicon.glyphicon-search
              div#youtube-search-results
      //- Songs
      div.col-md-9
        table.table.table-hover.table-condensed
          tbody#library
    //- Right-click menu for songs
    div#song-context-menu.dropdown
      ul.dropdown-menu(role='menu')
        li
          a#song-action-play.disabled(href='#')
            i.icon-play Play
        li
          a#song-action-next.disabled(href='#')
            i.icon-arrow-right Play next
        li
          a#song-action-queue.disabled(href='#')
            i.icon-plus Add to play queue
    //- Modal for disconnected state
    div#disconnected-modal.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            h4.modal-title
              | Disconnected !
          div.modal-body
            p
              | You've been disconnected...
//- vim: ft=jade et sw=2 sts=2
