<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Library | IntoSpectrum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Socket.IO-->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <!--JQuery-->
        <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

        <!--JQuery-UI-->
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-jquery-ui-1.9.2.css" media="screen">
        <script type="text/javascript" src="/js/jquery-ui-1.10.3.min.js"></script>

        <!--Bootstrap-->
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
        <link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css" media="screen">
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <!--CSS-->
        <link type="text/css" rel="stylesheet" href="/css/base.css" media="screen">

        <!--JavaScript-->
        <script type="text/javascript" src="/js/clientplayer.js"></script>
        <script type="text/javascript" src="/js/base.js"></script>
    </head>
    <body>
        <!--Toolbar-->
        <div class="navbar navbar-fixed-top">
            <!--Player-->
            <div class="navbar-inner">
                <a class="brand" href="#">
                    IntoSpectrum
                </a>
                <div class="btn-group">
                    <button id="previous-control" class="btn">
                        <i class="icon-step-backward"></i>
                    </button>
                    <button id="pause-control" class="btn">
                        <i class="icon-play"></i>
                        <i class="icon-pause" style="display:none;"></i>
                    </button>
                    <button id="stop-control" class="btn">
                        <i class="icon-stop"></i>
                    </button>
                    <button id="next-control" class="btn">
                        <i class="icon-step-forward"></i>
                    </button>
                </div>
                <div class="nav navbar-text progress span8" >
                    <div id="play-progress" class="bar" rel="tooltip" data-placement="bottom" title="No song currently playing" style="width:0%"></div>
                </div>
                <div id="volume-progress" class="span2 pull-right" style="margin:15px"></div>
            </div>
        </div>

        <!--Content-->
        <div id="wrap">
            <!--Loading-->
            <div id="library-loading" class="well">
                <!--<h2>Library loading...</h2>-->
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
                <em id="library-loading-current"></em>
            </div>

            <!--Songs-->
            <table class="table table-hover table-condensed">
                <thead>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Year</th>
                    <th>#</th>
                </thead>
                <tbody id="library"></tbody>
            </table>
        </div>

        <!--Right-click menu for songs-->
        <div id="song-context-menu" class="dropdown clearfix">
            <ul class="dropdown-menu" role="menu">
                <li><a id="song-action-play" class="disabled" href="#">Play</a></li>
                <li><a id="song-action-next" class="disabled" href="#">Play next</a></li>
                <li><a id="song-action-queue" class="disabled" href="#">Add to play queue</a></li>
            </ul>
        </div>
    </body>
</html>
