#wrap {
    margin-top: 70px;
}

/* Volume */

#volume-progress {
    margin: 20px 0;
    padding: 0;
}

/* Library */

#library tr {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#library-loading {
    position: fixed;
    bottom: 0;
    margin: 10px;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #ddd;
}

/* Playlist tab */

#tab-playlist .list-group > li div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#tab-playlist .list-group > li a {
    color: #333;
    text-decoration: none;
    text-align center;
}

/* Youtube tab */

#tab-youtube .media {
    padding: 5px;
    margin: 10px;
    height: 100px;
    position: relative;
}

#tab-youtube .media:hover {
    cursor: pointer;
    background-color: #ddd;
}

#tab-youtube .media:active {
    background-color: #eee;
}

#tab-youtube .media img {
    height: 90px;
}

#tab-youtube .media em {
    position: absolute;
    bottom: 0;
    margin: 7px;
    right: 0;
}
