#wrap {
    margin-top: 50px;
}

#volume-progress {
    margin: 15px;
}

#library tr {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs-left .nav-tabs > li > a {
    min-width: 18px;
}

#tab-playlist li {
    font-size: 12px;
    cursor: move;
}

#tab-playlist li.ui-sortable-helper {
    background-color: #fff;
}


#tab-playlist li div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#tab-playlist li a {
    color: #333;
    text-decoration: none;
    text-align center;
}

#library-loading {
    position: fixed;
    bottom: 10px;
}
